<main>
    <h2>Hora de descobrir seu Match!</h2>

    <div class="caixa-texto">
        <h3>Insira o seu nome/apelido</h3>
        <h4>e iremos procurar a pessoa</h4>
        <h4>que é muito você!</h4>
        <!-- Formulário para inserir o nome do usuário -->
        <label for="nomeUsuario">Digite seu nome:</label>
        <input type="text" id="nomeUsuario" placeholder="Seu nome">
        
        <!-- Botão para acionar a função match -->
        <button id="botaoMatch">Match</button>
    </div>
</main>

<style>
    main {
        text-align: center;
    }
    #botaoMatch {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
</style>
