<!-- Sidebar Esquerdo -->
<aside class="sidebar">
    <div class="categorias">
        <h2>Categorias</h2>
        <a href="/forum?categoria=Destaques">Destaques</a>
        <a href="/forum?categoria=Computaria">Computaria</a>
        <a href="/forum?categoria=Fofoca">Fofoca</a>
        <a href="/forum?categoria=BSMP">BSMP</a>
        <a href="/forum?categoria=RPG">RPG</a>
    </div>
    <hr class="divisoria-sidebar"> <!-- Linha divisória -->
    <div class="links-uteis">
        <h2>Links Úteis</h2>
        <p><a href="#">Como usar o fórum</a></p>
        <p><a href="#">Políticas de uso</a></p>
        <p><a href="#">Fale conosco</a></p>
    </div>
</aside>