<header class="header">
    <a href="/" class="header__logo"><h1>Boteco do R$</h1></a>

    <nav class="header__nav">
        <a href="/">Início</a>
        <a href="/">Galeria</a>
        <a href="/lista">Lista de Filmes/Séries</a>
    </nav>


</header>