<!-- Material Design Icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<style>
  /* Reset básico */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Estilos da navbar */
  .navbar {
    display: flex;
    position: sticky;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 4px rgba(0 0 0 / 15%);
    justify-content: space-between;
    align-items: center;
    background: rgba(156,105,58,1);
    padding: 1em;
    color: #fff;
    user-select: none;
  }

  /* Logo */
  .navbar-logo {
    display: flex;
    align-items: center;
  }

  .navbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 0.5em;
  }

  .navbar-logo span {
    font-size: 1em;
    font-weight: bold;
    cursor: url('/img/cursor-mao.png'), auto;
  }

  /* Links */
  .navbar-links {
    display: flex;
    gap: 1em;
    transition: max-height 0.35s ease-in-out;
    width: auto;  /* Garante que a largura seja apenas o necessário para o conteúdo */
  }

  .navbar-item {
    --hover-active-bg: #ffffff34;
    display: flex;
    gap: 8px;
    align-items: center;
    color: #fff;
    padding: 8px 14px;
    transition: background-color 0.35s;
    cursor: url('/img/cursor-mao.png'), auto;
    font-size: 0.9rem;
    border-radius: 5px;
  }

  .navbar-item:hover {
    background-color: var(--hover-active-bg);
  }

  .navbar-links a {
    /* A maioria dos estilos foram movidos para .navbar-item */
    text-decoration: none;
  }

  .navbar-icon {
    font-size: 1.2rem;
  }

  /* || Dropdown */

  .navbar-dropdown {
    position: relative;
  }

  .navbar-dropdown[data-open] {
    background-color: var(--hover-active-bg);
  }

  .navbar-dropdown-arrow {
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
  }

  .navbar-dropdown[data-open] .navbar-dropdown-arrow {
    transform: rotate(180deg);
  }

  .navbar-dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: var(--cor-marrom);
    width: 150%;
    border-radius: 8px 0 8px 8px;
    overflow: hidden;
    transform-origin: top right;
    box-shadow: 0 4px 4px rgba(0 0 0 / 15%);
    z-index: 50;
  }

  .navbar-dropdown[data-open] .navbar-dropdown-list {
    display: flex;
    animation: pop-open 0.2s cubic-bezier(0.265, 1.130, 0.395, 1.325) forwards;
  }

  .navbar-dropdown-item {
    padding: 12px;
    display: flex;
    gap: 8px;
    color: white;
    cursor: url('/img/cursor-mao.png'), auto;
    transform-origin: top center;
    transition: background 0.2s ease-in-out, padding 0.2s ease-in-out;
  }

  .navbar-dropdown-item:hover {
    background-color: rgba(0 0 0 / 3%);
    padding-left: 16px;
  }

  /* || Hamburguer */

  /* Botão hambúrguer para modo mobile */
  .hamburger {
    display: none;
    font-size: 1.5em;
    cursor: url('/img/cursor-mao.png'), auto;
  }

  /* Responsivo */
  @media (max-width: 768px) {
    .navbar {
      position: relative;
    }

    .navbar-links {
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      display: none;
      flex-direction: column;
      width: 100%;
      max-height: 0; /* Começa fechado */
      background-color: var(--cor-marrom);
      transform-origin: top center;
      box-shadow: 0 4px 4px rgba(0 0 0 / 15%);
    }

    .navbar-links.active {
      max-height: 500px; /* Ajuste conforme a quantidade de links */
      display: flex;
      animation: pop-open 0.2s cubic-bezier(0.265, 1.130, 0.395, 1.325) forwards;
    }

    .navbar-dropdown-list {
      left: 0;
      width: 100%;
    }

    .hamburger {
      display: block;
    }
  }

  @keyframes pop-open {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .navbar-logo-link {
    text-decoration: none;
    color: #fff; /* Cor do texto do link */
  }

  .navbar-logo-link span {
    font-size: 1em;
  }
  

</style>

<body>
  <nav class="navbar">
    <div class="navbar-logo">
      <img src="/img/icon-192x192.png">
      <a href="/" class="navbar-logo-link"><span>Boteco do R$</span></a>
    </div>

    <div class="navbar-links" id="navbar-links">
      <a class="navbar-item" href="/forum?categoriaId=Destaques">
        <span class="navbar-icon material-symbols-outlined">diversity_3</span>
        Forum (testes)
      </a>
      <div class="navbar-item navbar-dropdown">
        <span class="navbar-icon material-symbols-outlined">construction</span>
        <span class="navbar-dropdown-label">Ferramentas</span>
        <span class="navbar-dropdown-arrow material-symbols-outlined">keyboard_arrow_down</span>

        <div class="navbar-dropdown-list">
          <a class="navbar-dropdown-item" href="/cutucar">
            <span class="navbar-icon material-symbols-outlined">touch_long</span>
            Cutucar
          </a>
          <a class="navbar-dropdown-item" href="/lora">
            <span class="navbar-icon material-symbols-outlined">network_wifi</span>
            LoRa
          </a>
          <a class="navbar-dropdown-item" href="/MOB">
            <span class="navbar-icon material-symbols-outlined">directions_bus</span>
            MOB 4.0
          </a>
        </div>
      </div>
      <div class="navbar-item navbar-dropdown">
        <span class="navbar-icon material-symbols-outlined">play_arrow</span>
        <span class="navbar-dropdown-label">Media</span>
        <span class="navbar-dropdown-arrow material-symbols-outlined">keyboard_arrow_down</span>

        <div class="navbar-dropdown-list">
          <a class="navbar-dropdown-item" href="/watchlist">
            <span class="navbar-icon material-symbols-outlined">movie</span>
            WatchList
          </a>
          <a class="navbar-dropdown-item" href="/galeria">
            <span class="navbar-icon material-symbols-outlined">gallery_thumbnail</span>
            Galeria
          </a>
          <a class="navbar-dropdown-item" href="/filmedagalera">
            <span class="navbar-icon material-symbols-outlined">videocam</span>
            Filme da Galera
          </a>
          <a class="navbar-dropdown-item" href="/minigames">
            <span class="navbar-icon material-symbols-outlined">joystick</span>
            Minigames
          </a>
        </div>
      </div>
      
      <a class="navbar-item" href="/about">
        <span class="navbar-icon material-symbols-outlined">info</span>
        Sobre
      </a>
    </div>
    <div class="hamburger" id="hamburger">
      &#9776;
    </div>
  </nav>
</body>

<script>
  window.addEventListener("load", function () {
    // Atribuindo a função do menu hamburguer
    document.getElementById("hamburger").onclick = function () {
        const links = document.getElementById("navbar-links");
        links.classList.toggle("active");
    };

    // Fazendo os dropdowns funcionarem
    document
        .querySelectorAll(".navbar-dropdown")
        .forEach(dropdown => {
          // Hover
          dropdown.onmouseenter = () => dropdown.toggleAttribute("data-open", true);
          dropdown.onmouseleave = () => dropdown.toggleAttribute("data-open", false);

          // Click
          dropdown.onclick = (event) => {
            event.stopPropagation(); // Prevents click from propagating to parent elements
            const isOpen = dropdown.hasAttribute("data-open");
            document
              .querySelectorAll(".navbar-dropdown[data-open]")
              .forEach(openDropdown => openDropdown.removeAttribute("data-open"));
            if (!isOpen) {
              dropdown.setAttribute("data-open", true);
            }
          };
        });

    // Fechar dropdowns ao clicar fora
    document.body.onclick = () => {
      document
        .querySelectorAll(".navbar-dropdown[data-open]")
        .forEach(openDropdown => openDropdown.removeAttribute("data-open"));
    };
  });
</script>
