.send-messagearea {
    position: bottom;
    bottom: 0;
    padding-top: 1rem;
}
.main-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.forum-header input {
    margin-right: 0;
}
.postarea {
    max-height: auto;
    overflow-y: auto;
    overflow: auto;
}
.post {
    padding: 10px;
    background-color: var(--cor-fundo-caixa-texto);
    margin-bottom: 10px;
}
.post-info {
    font-size: 10px;
    color: #777;
}
.post-media img {
    max-width: 100%;
    max-height: 175px;
    height: auto;
    display: block;
    object-fit: contain; 
}
.post-header {
    position: relative;
}

.edit-button,
.remove-button {
  position: absolute;
  top: 0;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #00000000;
}

.edit-button {
  right: 40px;
}

.remove-button {
  right: 10px;
}

#writePost, #autor {
    width: 100%;
    height: 30px;
    min-width: 150px;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
#autor {
    width: 25%;
}
.twitter-draft-container {
    background-color: #f9f9f936;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.tweet-input-grande {
    width: 100%;
    min-height: 100px;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    resize:vertical;
    font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji";
}
.tweet-input-pequeno {
    margin-top: 1rem;
    width: 100%;
    min-height: 40px;
    border: 1px solid #e1e8ed;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    resize:vertical;
    font-family: "Segoe UI Emoji", "Apple Color Emoji", "Noto Color Emoji";
}
.char-count {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    text-align: end;
}

#char-count-text {
    font-weight: bold;
}

.media-preview {
    position: relative;
}

.media-preview img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.media-preview video {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.media-preview-closebtn {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 5px;
}

.media-preview-closebtn svg {
    color: #0d8cd9;
}

.upload-container svg {
    position: relative;
    top: 5px;
}

@media (max-width: 768px) {
    .twitter-draft-container {
        max-width: 100%;
    }
}

.twitter-draft-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.twitter-draft-footer-midia {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.post-button {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.post-button:hover {
    background-color: #0d8cd9;
}