.publicacao-post-image {
    width: 100%;
    max-width: 480px;
    object-fit: fill;
    border-radius: 10px;
    margin-top: 8px;
}
.publicacao-post-text {
    margin-top: 8px;
}
.publicacao-type {
    border-bottom: 2px solid #77777744;
    margin-bottom: 5px;
}
.publicacao-post-footer, .publicacao-discussao-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.publicacao-profile-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.publicacao-profile-image {
    width: 100%;
    max-width: 30px;
    object-fit: fill;
    border-radius: 10px;
    margin-right: 8px;
}
