<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta name="description" content ="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Link para fontes do Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Progressive Web Apps -->
    <link rel="manifest" href="/manifest.json">
    <script src="/public/js/service-worker-registration.js"></script>

    <script defer src="/js/script.js"></script>
</head>

<style>
main {
    padding: 20px;
    text-align: center;
    color: var(--cor-verde-escuro);
}

.erro404 h1 {
    font-size: 2.5rem;
    margin: 0;
}

.erro404 h2 {
    font-size: 1.5rem;
}

#imagem-404 {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);*/
    object-fit: cover;
    opacity: 0.9;
    filter: grayscale(50%);
    margin: 20px auto;
}

/* Responsividade para tablets e telas médias */
@media (max-width: 768px) {
    .erro404 h1 {
        font-size: 2rem;
    }

    .erro404 h2 {
        font-size: 1.25rem;
    }

    #imagem-404 {
        max-width: 250px;
    }
}

/* Responsividade para celulares e telas pequenas */
@media (max-width: 480px) {
    .erro404 h1 {
        font-size: 1.75rem;
    }

    .erro404 h2 {
        font-size: 1.1rem;
    }

    #imagem-404 {
        max-width: 200px;
        margin: 10px auto;
    }
}
</style>

<body>
<main>
    <div class="erro404">
        <h1>erro 404</h1>
        <h2>página não encontrada</h2>
        <img id="imagem-404" src="/img/gabi-404.png" alt="gabi!">
    </div>
</main>
</body>
</html>
