body {
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colunas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Três colunas com tamanhos iguais */
    height: 100vh; /* Altura total da tela */
}

.coluna-1, .coluna-2, .coluna-3 {
}

.game-mode {
    display: grid;
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 60px; /* Move os botões mais para baixo */
    justify-content: center; /* Centraliza os botões horizontalmente */
}

.game-mode-btn {
    height: 50px;
    width: 200px;
    font-size: 32px;
    border: none;
    background-color: #444;
    color: white;
    cursor: url('/img/cursor-mao.png'), auto;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.game-mode-btn:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

.gameplay-area {
    position: relative;
    width: 900px;
    height: 700px;
    background-color: #222;
    overflow: hidden;
    margin: 0 auto; /* Centraliza horizontalmente se necessário */
    cursor: auto;
}

.block {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f00;
}

.mouse-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px; /* Um quadrado arredondado */
    display: none; /* Inicialmente escondido */
    pointer-events: none; /* Para que o cubo não interfira na interação do mouse */
}

.Pontuação h1 {
    color: white;
    text-align: center;
}