main {
    text-align: center;
}

.imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imagem {
    background-image: url('/img/moldura.png'); /* Imagem de fundo para a moldura */
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1; /* Proporção quadrada */
    width: 100%; /* Ajusta a largura para o tamanho do contêiner */
    max-width: 550px; /* Limita a largura máxima */
    margin: auto; /* Centraliza horizontalmente */
    position: relative; /* Necessário para posicionar a plaquinha */
}

.imagem img {
    width: 87%; /* Tamanho da imagem principal */
    height: 87%; /* Mantém a proporção da imagem */
    object-fit: cover;
}

.imagem img {
    cursor: url('/img/cursor.png'), auto;
}

.branco {
    display: inline-block; /* Necessário para comportar margens como um botão */
    padding: 10px 20px;
    background-color: white; /* Branco */
    color: #333; /* Cor do texto */
    border: 1px solid #ccc; /* Borda clara */
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.branco:hover {
    background-color: #f1f1f1; /* Tom mais claro no hover */
    cursor: url('/img/cursor-mao.png'), auto;
}

/* Ajustes para visualização em dispositivos móveis */
@media (max-width: 768px) {
    .imagem {
        max-width: 3000px; /* Reduz o tamanho em dispositivos móveis */
    }
    .plaquinha {
        width: 80%; /* Ajusta a largura da plaquinha em dispositivos móveis */
        font-size: 12px; /* Reduz o tamanho da fonte para a plaquinha */
        height: 45px; /* Altura ajustada para a plaquinha */
    }
}