<div class="galeria" id="galeria">
    <!-- As imagens serão adicionadas aqui dinamicamente -->
</div>
<div id="mensagem" style="display: none;"></div> <!-- Para exibir mensagens -->

<link rel="stylesheet" href="/css/galeria.css">
<script type="module" defer src="/js/galeria.js"></script>
