<h2>Imagem do Dia</h2>
<div class="imagem-do-dia">
    <div class="imagem">
    <img src="/img/imagemdodia.jpg" alt="gabi maclá">
    </div>

</div>
<p>Gabi cosplay de Maclá</p>

<link rel="stylesheet" href="/css/index.css">
