<h2>Imagem do Dia</h2>
<div class="imagem-do-dia">
    <div class="imagem">
        <img src="/img/imagemdodia.jpg" alt="Gabi cosplay de Maclá">
        <div class="plaquinha">Gabi Maclá</div>
    </div>
</div>

<link rel="stylesheet" href="/css/index.css">
