<h2>Lista de Filmes/Séries</h2>
<div class="formulario">
    <table>
        <thead>
            <tr>
                <th>Capa</th>
                <th>Filme/Série</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="listaFilmes">
            <!-- A linha para adicionar filme/série será gerada dinamicamente -->
        </tbody>
    </table>
</div>
<div id="mensagem" style="display: none;"></div> <!-- Adicionando a div para mensagens -->

<link rel="stylesheet" href="/css/lista.css">
<script type="module" defer src="/js/lista-script.js"></script>
