<main>
    <h2>Bem vindo a área secreta de minigames!</h2>
    <!-- Caixa de texto bonitinha -->
    <div class="caixa-texto">
        <h4>🔨Ainda em construção 🔨</h4>
        <h5>tamo junto 🤘</h5>
    </div>

    <div>
        <a class="branco" href="/minigames/cookie">Cookie Clicker</a>
    </div>
    
</main>

<style>
    main {
        text-align: center;
    }

    .branco {
        display: inline-block; /* Necessário para comportar margens como um botão */
        padding: 10px 20px;
        background-color: white; /* Branco */
        color: #333; /* Cor do texto */
        border: 1px solid #ccc; /* Borda clara */
        border-radius: 5px;
        text-decoration: none; /* Remove o sublinhado padrão dos links */
        cursor: url('/img/cursor.png'), auto;
        transition: background-color 0.3s ease;
    }

    .branco:hover {
        background-color: #f1f1f1; /* Tom mais claro no hover */
        cursor: url('/img/cursor-mao.png'), auto;
    }
</style>