.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Layout responsivo */
    gap: 40px; /* Espaçamento entre as imagens */
    padding: 0px;
}

body {
    background-image: url('/img/papeldeparede.jpg');
    background-repeat: repeat; /* Faz a imagem repetir em ambas as direções */
    background-size: auto; /* Tamanho original da imagem */
}

.imagem {
    background-image: url('/img/moldura.png');
    background-size: cover;
    background-position: center;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1;
    position: relative; /* Define o contexto para a plaquinha */
}

.imagem img {
    width: 87%; /* Tamanho da imagem principal */
    height: 87%; /* Mantém a proporção da imagem */
    border-radius: 1px;
    object-fit: cover;
}

.plaquinha {
    position: absolute;
    bottom: 10px; /* Altura ajustada em relação ao fundo */
    left: 50%;
    transform: translateX(-50%);
    width: 70%; /* Tamanho proporcional */
    height: 40px; /* Altura ajustada para a plaquinha */
    background-image: url('/img/plaquinha.png'); /* Imagem da plaquinha */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem de fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #000000;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


