.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Layout responsivo */
    gap: 40px; /* Espaçamento entre as imagens */
    padding: 0px;
}

body {
    background-image: url('/img/papeldeparede.jpg');
    background-repeat: repeat; /* Faz a imagem repetir em ambas as direções */
    background-size: auto; /* Tamanho original da imagem */
}

.imagem {
    background-image: url('/img/moldura.png'); /* Imagem de fundo para a moldura */
    background-size: cover;
    background-position: center;
    border-radius: 0px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1; /* Proporção quadrada */
}

.imagem img {
    width: 87%; /* Tamanho da imagem principal */
    height: 87%; /* Mantém a proporção da imagem */
    border-radius: 1px;
    object-fit: cover;
}

#mensagem {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}
