main{
    text-align: center;
}


.imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imagem {
    background-image: url('/img/moldura.png'); /* Imagem de fundo para a moldura */
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1; /* Proporção quadrada */
    width: 100%; /* Ajusta a largura para o tamanho do contêiner */
    max-width: 550px; /* Limita a largura máxima */
    margin: auto; /* Centraliza horizontalmente */
    position: relative; /* Necessário para posicionar a plaquinha */
}

.imagem img {
    width: 87%; /* Tamanho da imagem principal */
    height: 87%; /* Mantém a proporção da imagem */
    object-fit: cover;
}

/* Estilo para a plaquinha */
.plaquinha {
    position: absolute;
    bottom: 0px; /* Ajusta a posição da plaquinha em relação ao fundo */
    left: 50%;
    transform: translateX(-50%);
    width: 70%; /* Tamanho proporcional */
    height: 55px; /* Altura ajustada para a plaquinha */
    background-image: url('/img/plaquinha.png'); /* Imagem da plaquinha */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem de fundo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Ajustes para visualização em dispositivos móveis */
@media (max-width: 768px) {
    .imagem {
        max-width: 3000px; /* Reduz o tamanho em dispositivos móveis */
    }
    .plaquinha {
        width: 80%; /* Ajusta a largura da plaquinha em dispositivos móveis */
        font-size: 12px; /* Reduz o tamanho da fonte para a plaquinha */
        height: 45px; /* Altura ajustada para a plaquinha */
    }
}
