.formulario {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    overflow-x: auto;  /* Permite rolar horizontalmente em telas pequenas */
    max-width: 100%;  /* Garante que o formulário não ultrapasse a tela */
}

/* Estilos para a tabela */
table {
    width: 100%; /* Faz a tabela ocupar toda a largura disponível */
    max-width: 900px; /* Definindo uma largura máxima para a tabela */
    border-collapse: collapse;
    border: 3px solid black;
    margin: 0 auto; /* Centraliza a tabela */
}

th, td {
    padding: 6px;
    text-align: left;
    border: 3px solid black;
}

th {
    background-color: #9c693a;
    color: white;
}

td {
    background-color: white;
}

/* Definindo larguras mínimas para cada coluna */
td:first-child {
    width: 130px; /* Largura mínima para a imagem */
}

td:nth-child(2) {
    width: 80px; /* Largura mínima para o nome */
}

td:last-child {
    width: 20px; /* Largura mínima para o ícone de exclusão */
}

/* Ajustes para visualização em dispositivos móveis */
@media (max-width: 768px) {
    th, td {
        padding: 4px;
        font-size: 12px;
    }

    td img {
        max-width: auto;
        height: auto;
    }

    td:first-child {
        height: 100px;
    }

    td:nth-child(2) {
        width: 20px;
    }

    td:last-child {
        width: 0px;
    }

    /* Adiciona um pequeno espaço para a tabela se ajustar melhor em telas pequenas */
    .formulario {
        overflow-x: scroll; /* Permite rolar a tabela se for necessário */
    }
}

/* Estilos de mensagens e botões */
#mensagem {
    margin: 15px 0;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    display: none;
}

.error {
    color: red;
    border-color: red;
}

.enviar-filme {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
}

.upload-label {
    font-size: 0.8rem; /* Ajuste o tamanho do emoji */
    cursor: pointer;
    display: inline-block;
    padding: 5px; /* Ajuste o espaçamento */
}
