/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

th, td {
    padding: 6px; /* Reduz o padding para economizar espaço */
    text-align: left;
    border: 3px solid black;
    min-width: 100px; /* Define uma largura mínima menor */
}

th {
    background-color: #9c693a;
    color: white;
}

td {
    background-color: white;
}

/* Contêiner com overflow para evitar que a tabela extrapole */
.formulario {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    overflow-x: auto; /* Habilita o scroll horizontal */
}

/* Ajustes para a visualização em dispositivos móveis */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        padding: 4px; /* Reduz o padding ainda mais em dispositivos móveis */
        font-size: 12px; /* Diminui o tamanho da fonte */
    }

    td img {
        max-width: 60px; /* Reduz a largura da imagem */
        height: auto;
    }

    th, td {
        min-width: 80px; /* Reduz a largura mínima das células para telas menores */
    }
}

/* Estilos de mensagens e botões */
#mensagem {
    margin: 15px 0;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    display: none;
}

.success {
    color: green;
    border-color: green;
}

.error {
    color: red;
    border-color: red;
}

.botao-filme {
    color: red;
    cursor: pointer;
}

.enviar-filme {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
}
