/* Criando variáveis de cores/estilo personalizadas*/
:root {
    --cor-fundo: #80b56b;
    --cor-marrom: #9c693a;
    --cor-verde-escuro: #4a693e;
    --cor-marrom-escuro: #6d4a29;
    --fonte-padrao: "Montserrat", sans-serif;
    --fonte-padrao-tamanho: auto;
    --fonte-padrao-largura: <100>;
    --fonte-padrao-estilo: normal;
}

body {
    font-family: var(--fonte-padrao);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--fonte-padrao-largura);
    font-style: var(--fonte-padrao-estilo);
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
}

header {
    background-color: var(--cor-marrom);
    padding: 0.01px 0;
    text-align: center;
}

.header__logo{
    color: white;
    text-decoration: none;
    font-family: var(--fonte-padrao);
}
.header__nav {
    background-color: var(--cor-verde-escuro);
    overflow: hidden;
}
.header__nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
.header__nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #4a693e;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.imagem-do-dia {
    border: 5px solid #9c693a; /* Cor da moldura */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 1%; /* Espaçamento interno proporcional */
    display: inline-block; /* Para que a moldura se ajuste à imagem */
    background-color: #fff; /* Fundo da moldura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito 3D */
    width: 80%; /* Largura da moldura como porcentagem */
    max-width: 400px; /* Largura máxima para evitar que a moldura fique muito larga */
    height: auto; /* Mantém a proporção da imagem */
}

.imagem-do-dia img {
    width: 100%; /* A imagem ocupa 100% da largura da moldura */
    height: auto; /* Mantém a proporção da imagem */
}

@media (max-width: 600px) {
    .imagem-do-dia {
        padding: 3%; /* Reduz o espaçamento interno em telas menores */
        border-width: 2px; /* Reduz a largura da borda em telas menores */
        width: 50%; /* Aumenta a largura em porcentagem para telas menores */
    }
}
