<head>
    <link rel="stylesheet" href="/pages/forum/style/forum.css">
    <link rel="stylesheet" href="/pages/forum/style/user.css">
    <link rel="stylesheet" href="/pages/forum/style/publicacoes.css">
</head>
<body>
      <section class="userpage-userbox" id="userpage-userbox">
        <div class="userpage-userinfo">
        </div>
      </section>
      <section class="userpage-main-layout">
        <!-- Informações do perfil -->
        <div class="userpage-main-info">
          <div class="half-box-area">
            <h2 style="text-align: center; font-size: 14px; margin: 10px;">Biografia</h2>
            <div class="user-info-box" id="biografia">
            </div>
          </div>
          <div class="half-box-area">
            <h2 style="text-align: center; font-size: 14px; margin: 10px;">Amizades</h2>
            <div class="user-info-box" id="amizades">
            </div>
          </div>
        </div>
        <!-- Publicações -->
        <div class="userpage-main-publicacoes">
          <h2 style="text-align: center; font-size: 14px; margin: 10px;">Publicações</h2>
          <div class="discussoes" id="publicacoes">
          </div>
        </div>
      </section>
    </main>
  </div>
</body>

<script>
async function followUser(userId) {
  const userIdRequester = localStorage.getItem("autenticationUserId");

  try {
    const response = await fetch('/API/forum/followuser', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ userIdRequester, userId  }),
    });

    if (!response.ok) {
      const errorData = await response.json();
      console.error('Erro ao seguir usuário:', errorData.error);
      alert(`Erro: ${errorData.error}`);
      return;
    }

    const data = await response.json();

    // Alterar botão para "Unfollow"
    const button = document.getElementById('follow-button');
    if (button) {
      button.id = 'unfollow-button';
      button.textContent = 'Unfollow';
      button.setAttribute('onclick', `unfollowUser('${userId}')`);
    }
  } catch (error) {
    console.error('Erro ao processar os dados:', error);
    alert('Ocorreu um erro ao seguir o usuário. Tente novamente mais tarde.');
  }
}

async function unfollowUser(userId) {
  const userIdRequester = localStorage.getItem("autenticationUserId");

  try {
    const response = await fetch('/API/forum/unfollowuser', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ userIdRequester, userId }),
    });

    if (!response.ok) {
      const errorData = await response.json();
      console.error('Erro ao deixar de seguir usuário:', errorData.error);
      alert(`Erro: ${errorData.error}`);
      return;
    }

    const data = await response.json();

    // Alterar botão para "Follow"
    const button = document.getElementById('unfollow-button');
    if (button) {
      button.id = 'follow-button';
      button.textContent = 'Follow';
      button.setAttribute('onclick', `followUser('${userId}')`);
    }

  } catch (error) {
    console.error('Erro ao processar os dados:', error);
    alert('Ocorreu um erro ao deixar de seguir o usuário. Tente novamente mais tarde.');
  }
}

function renderUserBox(user) {
  const userpageUserbox = document.getElementById("userpage-userbox");
  const userIdRequester = localStorage.getItem("autenticationUserId");
  const isAuthenticatedUser = user.userId === userIdRequester;

  // Verificar se `followersList` é válido
  const isFollowing = Array.isArray(user.followersList) && user.followersList.includes(userIdRequester);

  // Template comum para exibir informações do usuário
  const userInfoTemplate = `
    <div class="userpage-userinfo">
      <div class="userpage-userinfo-image">
        <img src="${user.profileImage}" alt="${user.exibitionName}">
      </div>
      <div class="userpage-userinfo-name">
        <h3>${user.exibitionName}</h3>
        <p>${user.userTag}</p>
        <p style="margin-top: 5px;">${user.pronouns}</p>
        <p style="margin-top: 5px;">${user.discussaoAmount} 🗨️ | ${user.postAmount} 📄 | ${user.friendAmount} 👥</p>
      </div>
    </div>
  `;

  // Ações específicas para cada caso
  let actionsTemplate = "";

  if (isAuthenticatedUser) {
    actionsTemplate = `
      <div class="userpage-userbox-actions">
        <button id="edit-button" onclick="window.location.href='/forum/editar'">Editar</button>
      </div>
    `;
  } else if (isFollowing) {
    actionsTemplate = `
      <div class="userpage-userbox-actions">
        <button id="unfollow-button" onclick="unfollowUser('${user.userId}')">Unfollow</button>
      </div>
    `;
  } else {
    actionsTemplate = `
      <div class="userpage-userbox-actions">
        <button id="follow-button" onclick="followUser('${user.userId}')">Follow</button>
      </div>
    `;
  }

  // Renderizar o conteúdo
  userpageUserbox.innerHTML = `
    ${userInfoTemplate}
    ${actionsTemplate}
  `;

  // Definir a imagem de fundo
  userpageUserbox.style.backgroundImage = `url(${user.bannerImage})`;
}

function renderBiografia(user) {
  const biografiaContainer = document.getElementById("biografia");

  if (user.biography) {
    const formattedBiography = user.biography.replace(/\n/g, '<br>');
    biografiaContainer.innerHTML = `
      <div class="biografia-text">
          <p>${formattedBiography}</p>
      </div>`;
  } else {
    biografiaContainer.innerHTML = `
      <div class="biografia-text">
          <p>Tenho preguiça demais para escrever uma biografia :P</p>
      </div>`;
  }
}

async function renderAmizades(user) {
  const amizadesContainer = document.getElementById("amizades");
  try {
    const response = await fetch('/API/forum/getuserfriendlist', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      
      body: JSON.stringify({ userId: user.userId }),
    });

    if (!response.ok) {
      const errorData = await response.json();
      console.error('Erro ao obter lista de amigos:', errorData.error);
      amizadesContainer.innerHTML = `
        <div class="amizades-info">
            <p>Erro ao carregar amigos.</p>
        </div>`;
      return;
    }

    const data = await response.json();
    const friendList = data.listadeamigosTag;

    if (friendList.length > 0) {
      let lista = ''; // Variável para armazenar a lista de amigos

      // Cria um item de lista para cada amigo
      friendList.forEach(friend => {
        lista += ` <a href='/forum/user?userTag=${friend}' style="text-decoration: none; color: #333;">${friend} </a> `; // Adiciona o nome do amigo (ou o que for relevante) à lista
      });

      amizadesContainer.innerHTML = `
        <div class="amizades-info">
            ${lista} <!-- Renderiza a lista de amigos -->
        </div>`;
    } else {
      amizadesContainer.innerHTML = `
        <div class="amizades-info">
            <p>Não tem amigos XD</p>
        </div>`;
    }
  } catch (error) {
    console.error('Erro ao processar os dados:', error);
    amizadesContainer.innerHTML = `
      <div class="amizades-info">
          <p>Erro ao carregar amigos.</p>
      </div>`;
  }
}

function renderPublicacoes(publicacoes) {
    const publicacoesDiv = document.getElementById('publicacoes');
    publicacoesDiv.innerHTML = ''; // Limpa o conteúdo anterior

    if (!publicacoes || Object.keys(publicacoes).length === 0) {
        publicacoesDiv.innerHTML = `
            <div>
                <h2>Não há publicações ainda</h2>
            </div>
        `;
        return;
    }

    // Transforma o objeto em um array de publicações
    const publicacoesArray = Object.values(publicacoes);

    publicacoesArray.forEach((publicacao) => {
        if (!publicacao || typeof publicacao !== 'object') {
            console.warn("Publicação inválida encontrada:", publicacao);
            return;
        }

        const publicacaoDiv = document.createElement('div');
        publicacaoDiv.classList.add('publicacao');

        const time = new Date(publicacao.ultimoUpdate);
        const now = new Date();
        const isToday = now.toDateString() === time.toDateString();
        const isYesterday = new Date(now.setDate(now.getDate() - 1)).toDateString() === time.toDateString();
        const daysOfWeek = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'];
        let tempoFormatado;

        const timeOptions = { hour: '2-digit', minute: '2-digit' };

        if (isToday) {
            tempoFormatado = time.toLocaleTimeString([], timeOptions);
        } else if (isYesterday) {
            tempoFormatado = `ontem ${time.toLocaleTimeString([], timeOptions)}`;
        } else if (now - time < 7 * 24 * 60 * 60 * 1000) {
            tempoFormatado = `${daysOfWeek[time.getDay()]} ${time.toLocaleTimeString([], timeOptions)}`;
        } else {
            tempoFormatado = `${time.toLocaleDateString()} ${time.toLocaleTimeString([], timeOptions)}`;
        }

        const autenticacaoUserId = localStorage.getItem("autenticationUserId");
        let conteudoHTML

        if(publicacao.type === "discussao"){
            conteudoHTML = `
            <div>
                <div class="publicacao-type-discussao">
                    <p>Discussão</p>
                </div>
                <div class="publicacao-profile-box">
                    <img src="${publicacao.profileImage}" class="publicacao-profile-image">
                    <p><a style="text-decoration: none; color: #333;" href="/forum/user?userTag=${publicacao.userTag}"><strong>${publicacao.userTag}</strong></a></p>
                </div>
                <h3 class="discussao-title">
                    <a href="/forum/discussao?publicacaoId=${publicacao.publicacaoId}" style="text-decoration: underline;">
                        ${publicacao.discussaoTitle}
                    </a>
                </h3>
            </div>
            <div class="publicacao-discussao-footer">
                <p>${publicacao.commentAmount} 🗨️</p>
                <p class="discussao-info">${tempoFormatado}</p>
            </div>
            `;
            if (publicacao.userId === autenticacaoUserId || publicacao.adminPermissions) {
                conteudoHTML += `
                    <button id="remover-discussao" onclick="deletaDiscussao('${publicacao.publicacaoId}', '${publicacao.userId}')">
                        Remover
                    </button>
                `;
            }
        }
        if(publicacao.type === "post") {
            if(publicacao.media){
                conteudoHTML = `
                    <div>
                        <div>
                            <div class="publicacao-type-post">
                                <p>Post</p>
                            </div>
                            <div class="publicacao-profile-box">
                                <img src="${publicacao.profileImage}" class="publicacao-profile-image"><p><a style="text-decoration: none; color: #333;" href="/forum/user?userTag=${publicacao.userTag}"><strong>${publicacao.userTag}</strong></a></p>
                            </div>
                        </div>
                        <div>
                            <div class="publicacao-post-text">
                                <p>${publicacao.text}</p>
                            </div>
                            <div>
                                <img src="${publicacao.media ? publicacao.media : 'https://mariananardi.com.br/wp-content/uploads/2018/09/Gato-x-leao.jpg'}" class="publicacao-post-image">
                            </div>
                        </div>
                    </div>
                    <div class="publicacao-post-footer">
                        <div>
                            <button class="publicacao-post-footer-button">${publicacao.commentAmount || 0} 💬</button>
                            <button class="publicacao-post-footer-button">${publicacao.likeAmount || 0} 👍</button>
                        </div>
                        <p class="discussao-info">${tempoFormatado}</p>
                    </div>
                `;
            }
            else{
                conteudoHTML = `
                    <div>
                        <div class="publicacao-type-post">
                            <p>Post</p>
                        </div>
                        <div class="publicacao-profile-box">
                            <img src="${publicacao.profileImage}" class="publicacao-profile-image"><p><a style="text-decoration: none; color: #333;" href="/forum/user?userTag=${publicacao.userTag}"><strong>${publicacao.userTag}</strong></a></p>
                        </div>
                    </div>
                    <div>
                        <div class="publicacao-post-text">
                            <p>${publicacao.text}</p>
                        </div>
                    </div>
                    <div class="publicacao-post-footer">
                        <div>
                            <button class="publicacao-post-footer-button">${publicacao.commentAmount || 0} 💬</button>
                            <button class="publicacao-post-footer-button">${publicacao.likeAmount || 0} 👍</button>
                        </div>
                        <p class="discussao-info">${tempoFormatado}</p>
                    </div>
                `;
            }
            if (publicacao.userId === autenticacaoUserId || publicacao.adminPermissions) {
                conteudoHTML += `
                    <button id="remover-discussao" onclick="deletaPost('${publicacao.publicacaoId}', '${publicacao.userId}')">
                        Remover
                    </button>
                `;
            }
        }

        publicacaoDiv.innerHTML = conteudoHTML;

        // Adiciona a publicação à lista
        publicacoesDiv.appendChild(publicacaoDiv);
    });
  }

async function deletaDiscussao(publicacaoId, userId) {
  try {
      const response = await fetch(`/API/forum/removerdiscussao`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ userId, publicacaoId }),
      });

      const responseData = await response.json();
      if (response.ok) {
      }

    }catch (error) {
    console.error('Erro ao salvar no Firebase:', error);
    res.status(500).json({ error: 'Erro interno do servidor.' });
  }
}

function searchUserData(userTag) {
    if (!userTag) {
        console.error('precisamos da userTag do usuário para localiza-lo.');
        alert('Precisamos da userTag do usuário para localiza-lo.');
        return;
    }

    // Conectar ao servidor de mensagens com parâmetros na URL
    const eventSource = new EventSource(`/API/forum/stream-user?userTag=${userTag}`);

    eventSource.onmessage = (event) => {
        try {
            userData = JSON.parse(event.data);
            renderAmizades(userData);
            renderBiografia(userData);
            renderUserBox(userData);
            searchUserPublicacoes(userData.userId, 50);
        } catch (error) {
            console.error('Erro ao processar os dados recebidos:', error);
        }
    };

    eventSource.onerror = (error) => {
        console.error('Erro na conexão com o servidor:', error);
        eventSource.close();
    };
}

async function searchUserPublicacoes(userId, amount) {
  try {
        const response = await fetch('/API/forum/getuserpublicacoes', {
            method: 'POST', // Altera o método para POST
            headers: {
                'Content-Type': 'application/json', // Define o tipo de conteúdo como JSON
            },
            body: JSON.stringify({ amount, userId, userIdRequester: localStorage.getItem("autenticationUserId") })
        });

        if (!response.ok) {
            throw new Error(`Erro ao buscar publicações: ${response.statusText}`);
        }

        const publicacoes = await response.json();
        console.log(publicacoes);  // Verifica as publicações recebidas
        renderPublicacoes(publicacoes); // Renderiza as publicações recebidas
    } catch (error) {
        console.error('Erro ao buscar as publicações:', error);
    }
}

let userData;

window.onload = () => {
    // Recuperando os parâmetros da URL
    const urlParams = new URLSearchParams(window.location.search);
    userTag = urlParams.get('userTag');

    // Atribuindo os valores recuperados nas variáveis globais
    searchUserData(userTag);
}
</script>