<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum Escalonável</title>
    <link rel="stylesheet" href="/pages/forum/style/forum.css">
    <link rel="stylesheet" href="/pages/forum/style/userpage.css">
</head>
<body>
  <div class="layout">
    <!-- Sidebar Esquerdo -->
    <aside class="sidebar">
      <div class="categorias">
        <h2>Categorias</h2>
        <a href="/forum">Destaques</a>
        <a href="#">Computaria</a>
        <a href="#">Fofoca</a>
        <a href="#">BSMP</a>
        <a href="#">RPG</a>
      </div>
      <hr class="divisoria-sidebar"> <!-- Linha divisória -->
      <div class="links-uteis">
        <h2>Links Úteis</h2>
        <p><a href="#">Como usar o fórum</a></p>
        <p><a href="#">Políticas de uso</a></p>
        <p><a href="#">Fale conosco</a></p>
      </div>
    </aside>

    <!-- Conteúdo Principal -->
    <main class="main-content">
      <section class="userpage-userbox">
        <div class="userpage-userinfo">
          <div class="userpage-userinfo-image">
            <img src="/img/icon-192x192.png">
          </div>
          <div class="userpage-userinfo-name">
            <h3>Gabireia</h3>
            <p>@gabizinha_</p>
          </div>
        </div>
        <div class="userpage-userbox-actions">
          <div class="userpage-userbox-actions">
            <button id="edit-button">Editar</button>
            <button id="follow-button">Follow</button>
          </div>          
        </div>
      </section>
      <section class="userpage-main-layout">
        <!-- Lado esquerdo (posts) -->
        <div class="userpage-main-right">
          <h2 style="text-align: center; font-size: 14px; margin: 10px;">Discussões</h2>
          <section class="threads">
            <div class="thread">
              <div>
                <h3 class="thread-title"><a href="/forum/post">Au au pov bagireia au au</a></h3>
                <p class="thread-info">Por <strong>@gabizinha_</strong> - 2 horas atrás</p>
              </div>
              <div>
                <p class="thread-info">15 respostas</p>
              </div>
            </div>
            <div class="thread">
              <div>
                <h3 class="thread-title"><a href="/forum/post">Como assustar o zé pequeno</a></h3>
                <p class="thread-info">Por <strong>@gabizinha_</strong> - 1 dia atrás</p>
              </div>
              <div>
                <p class="thread-info">20 respostas</p>
              </div>
            </div>
          </section>
        </div>
        <!-- Lado direito (biografia) -->
        <div class="userpage-main-left">
          <h2 style="text-align: center; font-size: 14px; margin: 10px;">Biografia</h2>
          <div class="biografia">
            <div class="biografia-text">
              <p>Oie eu sou a bagireia, você está lendo minha biografia pq otário? Sla kskks fodase despausa aí!</p>
            </div>
          </div>
          <h2 style="text-align: center; font-size: 14px; margin: 10px;">Amigos</h2>
          <div class="biografia">
            <div class="biografia-text">
              <p>Oie eu sou a bagireia, você está lendo minha biografia pq otário? Sla kskks fodase despausa aí!</p>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</body>