body {
    text-align: center;
}

#search-form {
    margin: 20px;
}

#search-form input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-form button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: url('/img/cursor-mao.png'), auto;
}

#search-form button:hover {
    background-color: #0056b3;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.movie {
    width: 100px;
    text-align: center;
    cursor: url('/img/cursor-mao.png'), auto;
}

.movie img {
    width: 100%;
    border-radius: 10px;
}

.movie-title {
    margin-top: 10px;
    font-size: 16px;
}