<main>
    <h2>Cutuque alguém!</h2>

    <div class="caixa-texto">
        <h4>Para cutucar no Twitter</h4>
        <h5>Use o @dapessoa e escreva uma mensagem ~anônima!~</h5>
    </div>

    <div class="caixa-texto">
        <!-- Campo de texto para o @mencionado -->
        <input class="entrada-texto" type="text" id="mention" placeholder="Digite @marcado" autocomplete="off" />
        <!-- Div para mostrar sugestões -->
        <div id="suggestions" class="suggestions"></div>
    
        <!-- Campo de texto para escrever a mensagem -->
        <textarea class="entrada-texto-grande" id="messageText" placeholder="Escreva o resto da mensagem..."></textarea>

        <div class="upload-container">
            <label for="mediaFile" class="branco">
                <span>📤 Upload de Mídia</span>
            </label>
            <input type="file" id="mediaFile" accept="image/*,video/*" style="display: none;" />
            <span id="fileName" class="file-name"></span>
        </div>
        
    
        <!-- Botão para enviar o tweet -->
        <button id="tweetButton">Postar Tweet</button>
    </div>     

    <div class="post-twitter"></div>

    <!-- Popup para exibir a imagem com fundo desfocado e botões -->
    <div id="popup-senha" class="popup">
        <div id="popup-conteudo" class="popup-conteudo">
            <div class="acoes">
                <form id="passwordForm">
                    <h2>Autenticação de Usuário</h2>
                    <input type="password" id="password" placeholder="Digite a senha" />
                    <button onclick="event.preventDefault(), checkPassword()">Verificar</button>
                    <p class="message" id="message"></p>
                </form>
            </div>
        </div>
    </div>
</main>

<link rel="stylesheet" href="/geral/popup.css">
<link rel="stylesheet" href="/pages/cutucar/style.css">

<script>
    const suggestionsList = [
        '@botdoboteco',
        '@Bagriieeel',
        '@carollssssssss',
        '@chammittoo',
        '@Darksols_',
        '@elonmusk',
        '@f3rnandesz',
        '@GabrielXoxota',
        '@Gb_santos1811',
        '@gcg_daniel',
        '@giapropria',
        '@girlon_tv',
        '@i2camacho',
        '@jairbolsonaro',
        '@JYPETWICE',
        '@jogadorStick',
        '@lbbhangelita',
        '@Liraotrem',
        '@LulaOficial',
        '@oleonamjoao',
        '@palettelilith',
        '@Regis_trado18',
        '@snake_sorrel',
        '@Tal_Lento',
        '@taylorswift13',
        '@whoisnenes',
        '@yuzzu_94'
    ];

    document.addEventListener("DOMContentLoaded", () => {
        validacaoUsuario = localStorage.getItem("validacaoUsuario");
        if (validacaoUsuario !== null) {
            validacaoUsuario = JSON.parse(validacaoUsuario); // Converte para booleano ou outro tipo armazenado.
        } else {
            validacaoUsuario = false; // Valor padrão se não existir no localStorage.
        }

        console.log("Validação do Usuário:", validacaoUsuario);

        if (validacaoUsuario === true){
            document.getElementById("popup-senha").style.display = "none";
        }
    });

    async function checkPassword() {
        const senha = document.getElementById("password").value; // Obter senha do input
        const response = await fetch('/verify-senha-cutucar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ senha }) // Enviar senha como JSON
        });

        const data = await response.json(); // Converter a resposta para JSON

        if (data.success) {
            validacaoUsuario = true;
            localStorage.setItem("validacaoUsuario", validacaoUsuario = true);
            document.getElementById("popup-senha").style.display = "none";
        } else {
            console.log("Senha incorreta");
        }
    }

    const mentionInput = document.getElementById('mention');
    const suggestionsDiv = document.getElementById('suggestions');

    // Filtrar e mostrar sugestões
    mentionInput.addEventListener('input', () => {
        const query = mentionInput.value.toLowerCase();
        suggestionsDiv.innerHTML = ''; // Limpar sugestões anteriores

        if (query.startsWith('@')) {
            const filteredSuggestions = suggestionsList.filter(item =>
                item.toLowerCase().startsWith(query)
            );

            // Exibir sugestões, se houver correspondências
            if (filteredSuggestions.length > 0) {
                suggestionsDiv.style.display = 'block';
                filteredSuggestions.forEach(suggestion => {
                    const suggestionDiv = document.createElement('div');
                    suggestionDiv.textContent = suggestion;

                    // Selecionar a sugestão ao clicar
                    suggestionDiv.addEventListener('click', () => {
                        mentionInput.value = suggestion;
                        suggestionsDiv.style.display = 'none'; // Esconde sugestões
                    });

                    suggestionsDiv.appendChild(suggestionDiv);
                });
            } else {
                suggestionsDiv.style.display = 'none'; // Oculta se não houver sugestões
            }
        } else {
            suggestionsDiv.style.display = 'none'; // Oculta se a entrada não começar com "@"
        }
    });

    // Esconder sugestões ao clicar fora do campo de texto
    document.addEventListener('click', event => {
        if (event.target !== mentionInput && event.target.parentNode !== suggestionsDiv) {
            suggestionsDiv.style.display = 'none';
        }
    });

    document.getElementById('mediaFile').addEventListener('change', (event) => {
        const fileNameSpan = document.getElementById('fileName');
        const file = event.target.files[0];

        fileNameSpan.textContent = file ? file.name : 'Nenhum arquivo selecionado';
    });

    // Lógica para envio de tweet
    document.getElementById('tweetButton').addEventListener('click', async () => {
        if (validacaoUsuario !== true) {
            alert("Usuário sem permissão para envio de tweet");
            return false;
        }

        const mention = mentionInput.value.trim();
        const messageText = document.getElementById('messageText').value.trim();
        const mediaFile = document.getElementById('mediaFile').files[0];

        if (!mention || !messageText) {
            alert('Por favor, preencha ambos os campos.');
            return;
        }

        const tweetText = `☝${mention}, ${messageText}



🔗https://www.boteco.live/cutucar`;

        const formData = new FormData();
        formData.append('text', tweetText);

        if (mediaFile) {
            formData.append('media', mediaFile); // Adicionar mídia somente se for enviada
        }

        try {
            const response = await fetch('/tweet-media', {
                method: 'POST',
                body: formData,
            });
            
            const data = await response.json();

            if (data.status === 429) {
                alert('Limite de requisições atingido. Por favor, tente novamente mais tarde.');
                return;
            }

            if (data.success) {
                alert('Tweet enviado com sucesso!');
                document.getElementById('messageText').value = '';
                document.getElementById('mention').value = '';
                document.getElementById('mediaFile').value = '';
            } else {
                if (data.message === 'Erro ao postar o tweet: Request failed with code 429' || data.message === 'Erro ao postar tweet:Request failed with code 429'){
                    alert("Limite de Cutucadas por dia atingido! Espere para poder cutucar novamente.");
                }
                else{
                    alert(data.message);
                }
            }
    } catch (error) {
        alert('Erro: ' + error.message);
    }
});
</script>