<main>
    <h2>Imagem do Dia</h2>
    <!-- Caixa de texto bonitinha -->
    <div class="caixa-texto">
        <h3>Venha conferir!</h3>
        <a href="/pokebsmp" style="text-decoration: none; color: inherit;cursor: url('/img/cursor-mao.png'), auto;">
            <img src="/pages/inicial/pokebsmp/Titulo_Logo.png" style="max-width: 300px;"></img>
        </a>
    </div>

    <div class="imagem-do-dia">
        <div class="imagem">
            <img src="/img/carregando.gif" alt=""> <!-- A imagem será carregada dinamicamente -->
            <div class="plaquinha">
                <a href="" style="color: #333; text-decoration: none; cursor: url('/img/cursor-mao.png'), auto;">
                    <!-- O nome será preenchido dinamicamente -->
                </a>
            </div>
        </div>
    </div>

    <div class="caixa-texto">
        <h5>Quer sugerir imagem do dia?</h5>
        <a class="branco" id="editarNomeBtn" href="/sugerir">Sugerir</a>
    </div>
</main>

<link rel="stylesheet" href="/pages/galeria/geral/style.css">
<link rel="stylesheet" href="/pages/inicial/index/style.css">

<script type="module" defer src="/pages/inicial/index/script.js"></script>