<main>
    <div class="banner">
        <img src="/pages/inicial/pokebsmp/Titulo_Logo.png" style="max-width: 350px;"></img>
    </div>

    <div class="linha1">
        <div class="caixa-texto">
            <h4>Venha se aventurar numa jornada Pokémon!</h4>
            <h5>Acesse os links e baixe o modpack</h5>
    </div>

    </div>
    <div class="linha1">
        <div class="caixa-texto">
            <h4>Informações:</h4>
            <h5>ip: pokebsmp.enxada.host</h5>
            <a href="https://x.com/BSMPLore" style="text-decoration: none; color: inherit;">
                <h5>Twitter oficial: </h5>
                <img src="/pages/inicial/pokebsmp/Logo_TWITTER.png" style="max-width: 45px;"></img>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="item">
            <a href="https://cdn.discordapp.com/attachments/1142991520765583442/1319717398131249283/PokeBSMP_BG_-_Qualidade_1.0.0.mrpack?ex=6766fa1a&is=6765a89a&hm=4efb221562a4fa5d5242992985767e4c73940b83405281b31feecb3929dfebd1&" style="text-decoration: none; color: inherit;">
                <img src="/pages/inicial/pokebsmp/modrinth-logo.svg" style="max-width: 100px;"><h5>Modrinth - Qualidade</h5></img>
            </a>
            
        </div>
        <div class="item">
            <a href="https://cdn.discordapp.com/attachments/1142991520765583442/1319717397686648892/PokeBSMP_BG_-_Performance_1.0.0.mrpack?ex=6766fa1a&is=6765a89a&hm=15a2642d2736eeca925a2417e761c9b007e4e8438490e67ecfc62bcf6d83a9c5&" style="text-decoration: none; color: inherit;">
                <img src="/pages/inicial/pokebsmp/modrinth-logo.svg" style="max-width: 100px;"><h5>Modrinth - Performance</h5></img>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="item">
            <a href="https://drive.google.com/drive/folders/1QCEwzKr6Iag5j4o_aPcotyKRci4DbTM3?usp=sharing" style="text-decoration: none; color: inherit;">
                <img src="/pages/inicial/pokebsmp/pasta.png" style="max-width: 90px;"><h5>Mods - Qualidade</h5></img>
            </a>
        </div>
        <div class="item">
            <a href="https://drive.google.com/drive/folders/1ZJTIQ9WSOgjVSpRtAzl227gzve0Bre-I?usp=sharing" style="text-decoration: none; color: inherit;">
                <img src="/pages/inicial/pokebsmp/pasta.png" style="max-width: 90px;"><h5>Mods - Performance</h5></img>
            </a>
        </div>
    </div>
</main>


<style>
    main{
        text-align: center;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
    .item {
        flex: 1;
        text-align: center;
        padding: 20px;
    }
</style>