<main>
    <div class="container">
        <div id="mostrador-de-cookies">Você tem 0 cookies!</div>
        <div id="cps">0 cookies/s</div>
        <button id="cookie">
            <img src="/pages/minigames/cookieclicker/img/cookie.png" alt="Cookie">
        </button>

        <div id="popup-reset" class="popup">
            <div id="popup-conteudo" class="popup-conteudo">
                <h3>Deseja mesmo deletar todo seu progresso?</h3>
                <div class="acoes">
                    <button class="deletar" onclick="resetarValores(), fecharPopupReset()">Deletar</button>
                    <button class="branco" onclick="fecharPopupReset()">Fechar</button>
                </div>
            </div>
        </div>

        <div id="popup-anticheating" class="popup">
            <div id="popup-conteudo" class="popup-conteudo">
                <h3>PARE IMEDIATAMENTE VOCÊ ESTÁ TRAPACENANDO!!!</h3>
                <div class="acoes">
                    <button class="branco" onclick="fecharPopupAnticheating()">Fechar</button>
                </div>
            </div>
        </div>

    </div>

    <!-- Barra lateral esquerda -->
    <div id="barra-esquerda" class="barra-lateral">
        <h2>Upgrade de Click</h2>
        <div id="lista-click"></div>
    </div>

    <!-- Barra lateral direita -->
    <div id="barra-direita" class="barra-lateral">
        <h2>Upgrade de Máquina</h2>
        <div id="lista-maquina"></div>
    </div>

    <!-- Indicador de multiplicador -->
    <div id="indicador-multiplicador-cookies">Multiplicador Cookie: 100%</div>

    <!-- Indicador de gerador automático -->
    <div id="indicador-maquina-cookies">Máquina de cookies: 0 cookie/s</div>

    <div id="container-animacao"></div>

    <div id="versao-container">
        <div id="versao" class="versao">Versão: 1.4.2</div>
        <button id="reset" class="reset-btn" onclick="botaoReset()">Resetar</button>
    </div>
</main>

<link rel="stylesheet" href="/pages/minigames/cookieclicker/css/style.css">
<link rel="stylesheet" href="/geral/popup.css">

<script src="/pages/minigames/cookieclicker/js/script.js"></script>