<link rel="stylesheet" href="/pages/minigames/quadrados/quadrados.css">

<main>

    <div class="colunas">
        <div class="coluna-1">
            <h1 style="color: white; text-align: center; white-space: nowrap;">Modo de jogo</h1>
            <div class="game-mode">
                
                <button class="game-mode-btn" id="game-mode-btn-hard" onclick="setGameInterval('hard')">
                    <span>Difícil</span>
                </button>
                <button class="game-mode-btn" id="game-mode-btn-medium" onclick="setGameInterval('medium')">
                    <span>Médio</span>
                </button>
                <button class="game-mode-btn" id="game-mode-btn-easy" onclick="setGameInterval('easy')">
                    <span>Fácil</span>
                </button>
            </div>
        </div>        
        <div class="coluna-2">
            <h1 style="color: white; text-align: center;">Quadrados</h1>
            <div class="Pontuação">
                <h2 style="color: rgba(255, 235, 54, 0.842); text-align: center;" id="highscore">Highscore: 0</h2>
                <h2 style="color: white; text-align: center;" id="score">Score: 0</h2>
            </div>

            
            <div class="gameplay-area" id="gameplay-area">
                <div class="mouse-cursor" id="mouse-cursor"></div>
                <div class="block-area" id="block-area"></div>
            </div>
        </div>
        <div class="coluna-3">
            <h1 style="color: white; text-align: center; white-space: nowrap;">Tabela de Líderes</h1>
            <div class="tabela-lideres">
                <h2 style="color: rgba(255, 235, 54, 0.842); text-align: center; white-space: nowrap;">Em construção.</h2>
            </div>
        </div>
    </div>
    

</main>

<script src="/pages/minigames/quadrados/rules.js"></script>
<script src="/pages/minigames/quadrados/sounds.js"></script>
<script src="/pages/minigames/quadrados/animations.js" defer></script>
<script src="/pages/minigames/quadrados/ui.js" defer></script>
<script src="/pages/minigames/quadrados/player.js" defer></script>
<script src="/pages/minigames/quadrados/blockfactory.js" defer></script>
<script src="/pages/minigames/quadrados/moviment.js" defer></script>


<script>
    const gameplayArea = document.getElementById("gameplay-area");
    const blockArea = document.getElementById("block-area");
    let gameIntervalTime = 50;
    let score = 0;
    let highscore = 0;
    let gameInterval = null;
    let checkColisionInterval = null;
    let gamePaused = true;
    let forbidenToUnpause = false;
    let isAudioEnabled = false;

    function enableAudio() {
        isAudioEnabled = true;
        console.log("Áudio habilitado! Agora todos os sons podem ser reproduzidos.");
    }

    function toggleGamePause() {
        if (gamePaused) {
            resumeGame();
            console.log("toggleGamePause()");
            console.log("resumeGame()");
        } else {
            pauseGame();
            console.log("toggleGamePause()");
            console.log("pauseGame()");
        }
    }

    // Detectar quando a tecla Enter é pressionada
    document.addEventListener("keydown", (event) => {
        if (event.key === "Enter" && document.getElementById("play-screen")){
            enableAudio();
            playPlaySound1();
            startGame();
            console.log("startGame()");
        }
    });

    // Detectar quando a tecla Esc é pressionada
    document.addEventListener("keydown", (event) => {
        // Quando o usuário perde e joga de novo
        if (event.key === "Escape" && document.getElementById("death-screen") && !document.getElementById("play-screen")) {
            removeDeathScreen();
            clearBlockArea();
            playScreen();
            playPlaySound();
            console.log("clearBlockArea e playScreen");
        }

        // Quando queremos apenas pausar/despausar
        if (event.key === "Escape" && !forbidenToUnpause && !document.getElementById("play-screen") && !document.getElementById("death-screen")) {
            toggleGamePause();
        }
    });

    // Iniciar o jogo quando a página for carregada
    document.addEventListener("DOMContentLoaded", () => {
        playScreen(); // Mostrar tela de "play" inicialmente
    });
</script>
