<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo de Setinhas</title>
</head>
<body>
    <div id="jogo">
        <div id="pontuacao">Pontuação: 0</div>
        <!-- Linhas de ativação -->
        <div id="linha-superior"></div>
        <div id="linha-inferior"></div>
        <div class="pista"></div>
        <div class="pista"></div>
        <div class="pista"></div>
        <div class="pista"></div>
    </div>

    <div class="caixa-texto">
        <input type="number" id="velocidade" placeholder="% de velocidade">
        <button onclick="mudaRegras()">Mudar</button>
    </div>

    <div id="versao-container">
        <div id="versao" class="versao">Versão: 0.0.2</div>
    </div>
</body>
<link rel="stylesheet" href="/pages/minigames/setinha/css/style.css">
<link rel="stylesheet" href="/pages/minigames/geral/css/style.css">
<script src="/pages/minigames/setinha/js/script.js"></script>
</html>
